html, body {
    min-height: 100%;
    overflow: auto;
}


.master-header {
    background-color: #ffffff;
    height: 100px;
}

.master-footer {
    background-color: gray;
    height: 80px;
}

.form-header {
    background-color: #f5f5f5;
    height: 88px;
}

.patirnt-reg-formleftnav{
    background-color: #207fdd;
    height: 100vh;
    min-height: 971px;
    margin-right: -15px;
}

.patirnt-reg-formleft{
    background-color: #f5f5f5;
    height: 100vh;
    min-height: 882px;
    margin-left: -14px;
}

.patirnt-reg-formright {
    background-color: #f5f5f5;
    height: 100vh;
    min-height: 882px;
    margin-right: -15px;
}


.patirnt-inq-formleftnav {
    background-color: #207fdd;
    height: 100vh;
    min-height: 858px;
    margin-right: -15px;
}


.patirnt-ing-formleft {
    background-color: #f5f5f5;
    height: 100vh;
    min-height: 769px;
    margin-left: -14px;
}

.patirnt-inq-formright {
    background-color: #f5f5f5;
    height: 100vh;
    min-height: 769px;
    margin-right: -15px;
}

.form-body {
    margin-top: 15px;
}

.gridview-margin {
    margin-top: 15px;
}

.gridview-search-margin {
    margin-top: 20px;
}

.primary-button-style {
    width: 100px;
}

.button-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-status {
    margin-top: 12px;
    margin-bottom: 30px;
}

.required-field-star {
    color: red;
    font-size: larger;
    position: relative;
    top: 6px;
}

/*gridview*/
.table table tbody tr td a,
.table table tbody tr td span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.table table > tbody > tr > td > span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.table table > tbody > tr > td:first-child > a,
.table table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table table > tbody > tr > td:last-child > a,
.table table > tbody > tr > td:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.table table > tbody > tr > td > a:hover,
.table table > tbody > tr > td > span:hover,
.table table > tbody > tr > td > a:focus,
.table table > tbody > tr > td > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
/*end gridview */

.menuStyle {
    /*background-color: red;*/
}

.menu {
    background: transparent url(images/blueslate_background.gif) repeat-x;
    text-align: left;
    font-size: 12px;
    border: solid 1px #fff !important;
}

.menuhover {
    color: #fff;
    background: transparent url(images/blueslate_backgroundOVER.gif) no-repeat top center;
}

/*.level1 a{
    vertical-align:middle;
}*/

.header-menu {
    margin-top: 50px;
    background-color: #eae9e9;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.search-left-margin {
    margin-right: -32px;
}

.info-mzg {
    text-align: center;
    width: 85%;
    margin: auto;
}
