html, body {
    min-height: 100%;
    overflow: auto;
}


.master-header {
    background-color: #ffffff;
    height: 100px;
}

.master-footer {
    background-color: gray;
    height: 200px;
}

.form-header {
    background-color: #f5f5f5;
    height: 90px;
}

.patirnt-reg-formleftnav {
    background-color: #f5f5f5;
    background-image: url('../images/leftImageMaster.png');
    height: 100vh;
    min-height: 971px;
    margin-right: -15px;
}

.patirnt-reg-formleft{
    background-color: #f5f5f5;
    height: 100vh;
    min-height: 882px;
    margin-left: -30px;
}

.patirnt-reg-formright {
    background-color: #f5f5f5;
    height: 100vh;
    min-height: 882px;
    margin-right: -30px;
}


.patirnt-inq-formleftnav {
    background-color: #207fdd;
    background-image: url('../images/leftImageMaster.png');
    height: 100vh;
    min-height: 858px;
    margin-right: -30px;
}


.patirnt-ing-formleft {
    background-color: #f5f5f5;
    height: 100vh;
    min-height: 769px;
    margin-left: -30px;
}

.patirnt-inq-formright {
    background-color: #f5f5f5;
    height: 100vh;
    min-height: 769px;
    margin-right: -15px;
}

.form-body {
    margin-top: 15px;
}

.gridview-margin {
    margin-top: 15px;
}

.gridview-search-margin {
    margin-top: 20px;
}

.primary-button-style {
    width: 100px;
}

.button-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-status {
    margin-top: 12px;
    margin-bottom: 30px;
}

.required-field-star {
    color: red;
    font-size: larger;
    position: relative;
    top: 6px;
}

/*gridview*/
.table table tbody tr td a,
.table table tbody tr td span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.table table > tbody > tr > td > span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.table table > tbody > tr > td:first-child > a,
.table table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table table > tbody > tr > td:last-child > a,
.table table > tbody > tr > td:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.table table > tbody > tr > td > a:hover,
.table table > tbody > tr > td > span:hover,
.table table > tbody > tr > td > a:focus,
.table table > tbody > tr > td > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
/*end gridview */

.menuStyle {
    /*background-color: red;*/
}

.menu {
    background: transparent url(images/blueslate_background.gif) repeat-x;
    text-align: left;
    font-size: 12px;
    border: solid 1px #fff !important;
}

.menuhover {
    color: #fff;
    background: transparent url(images/blueslate_backgroundOVER.gif) no-repeat top center;
}

/*.level1 a{
    vertical-align:middle;
}*/

.header-menu {
    margin-top: 35px;
    background-color: #eae9e9;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    float: right !important;
}

.search-left-margin {
    margin-right: -32px;
}

.info-mzg {
    text-align: center;
    width: 85%;
    margin: auto;
}

/*.header-menu ul > li {
    width: 93px;
text-align: center;
border: solid 1px #fff !important;
}*/ 



/*new css*/

.inside-header {
    padding: 10px 20px 0px 20px;
    left: 25%;
}

body .grid-container {
    max-width: 1000px;
}

.main-navigation {
    border-bottom: 3px solid #a0ce4e;
}

.page-header {
    background-color: #f5f5f5;
    height: 10px;
}

.footer-navigation {
    border-top: 3px solid #a0ce4e;
}

.inside-footer-widgets .inner-padding {
    padding: 0 10px;
}

.sidebar .widget, .footer-widgets .widget {
    font-size: 13px;
}

.footer-widgets .widget-title {
    color: #ffffff!important;
}

.widget-block {
    padding-left: 50px;
}

.widget-title {
    margin-bottom: 15px;
}

.widget-title {
    font-size: 18px;
    color: #ffffff;
}

.textwidget {
    font-size: 12px;
    color: #ffffff;
}

.widget-title {
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    color: #ffffff;
}

.widget-title {
    margin-bottom: 30px;
    line-height: 1.5;
}

.box.box-primary {
    border-top-color: #1F4D8A;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.subheading {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #333;
    padding-bottom: 7px;
}

.main-content {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 13px;
    line-height: 22px;
    color: #333;
    padding-bottom: 7px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	padding: 0 0 20px 0;
	color: #444;
    font-family: 'Open Sans', sans-serif;
}
